body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: darkred;
}

#content-container {
    display: flex;
    justify-content: center;
}

#grid-container {
    border-style: solid;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.title {
    font-size: 60px;
    margin: 2rem;
    margin-bottom: 4rem;
    color: gold;
}

h1 {
    padding: 0;
    margin: 0;
}

.ink {
    background-color: whitesmoke;
}

.colored {
    background-color: black;
}

.cleared {
    background-color: rgb(255, 255, 255);
}

#button {
    font-size: 40px;
    background-color: darkgray;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    margin-top: 50px;
}

.toolbar {
    display: flex;
    gap: 25px;
}