body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content-container {
    display: flex;
    justify-content: center;
}

#grid-container {
    border-style: solid;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 60px;
    margin: 2rem;
    margin-bottom: 4rem;
}

h1 {
    padding: 0;
    margin: 0;
}

.ink {
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.colored {
    background-color: black;
}

.cleared {
    background-color: white;
}

#button {
    background-color: darkgray;
    border: none;
    box-shadow: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
}